---
layout: default
---
<div class="home">

<div class="site-header-container {% if site.cover %}has-cover{% endif %}" {% if site.cover %}style="background-image: url({{ site.cover | prepend: site.baseurl }});"{% endif %}>
  <div class="scrim {% if site.cover %}has-cover{% endif %}">
    <header class="site-header">
      <h1 class="title">{{ site.title }}</h1>
      {% if site.subtitle %}<p class="subtitle">{{ site.subtitle }}</p>{% endif %}
    </header>
  </div>
</div>



<div class="wrapper">

<!--

<h2>Childcare Conundrum Resources</h2>

These are resources people can use or contribute to around childcare. 

Initial resources are related to the PNAS paper on Conferences and the Childcare Conundrum, that included a set of recommendations. Here, we have 
made these recommendations into resources and checklists for conference 
organizers to use.

<hr>

-->

<h1 id="childcareconundrumchecklistsforvenues">The Childcare Conundrum: checklists for venues</h1>

<p>Primary caretakers of dependent children face inequitable hurdles to fully attending and participating in conference activities, due to responsibilities related to pregnancy, breastfeeding, and caretaking. This problem is serious because it creates a culture of inequity for parents, with mothers experiencing generally greater disadvantages than fathers due to biological, prejudicial, and often socially driven childcare demands.</p>

<p>For conference organizers willing to take a leadership role in creating solutions, either incrementally or on a large scale, we have created a checklist to show you C.A.R.E. (for Childcare, Accommodatations for families, Resources, Establishment of social networks).</p>

<p>The checklists below are provided as a guide to you for your conference planning. Any checkmarks are better than none, and more checkmarks are better than fewer - do what you can!</p>

<h2 id="childcare">Childcare</h2>

<input type="checkbox"/> do you provide a list of childcare providers and nearby daycamps?<br>

<input type="checkbox"/> do you provide childcare on site?<br>

<input type="checkbox"/> do you subsidize on site childcare costs for early career attendees in need?<br>

<input type="checkbox"/> do you subsidize travel costs or provide grants for attendees to bring traveling companions for childcare or arrange for childcare at their home?<br>

<input type="checkbox"/> do you have a dedicated child-friendly space (e.g. playroom) on-site?<br>

<input type="checkbox"/> do you provide changing tables in all restrooms, including men's and gender neutral restrooms?<br>


<h2 id="accommodationsforfamilies">Accommodations for families</h2>

<p>Parent-friendly spaces:</p>

<input type="checkbox"/> is babywearing explicitly allowed in all areas?<br>

<input type="checkbox"/> are caregivers assisting the attendee in childcare given free access to the conference center?<br>

<input type="checkbox"/> do you advertise family-friendly activities located in or near the venue?<br>

<input type="checkbox"/> do you explicitly state that children are welcomed at social events such as lunches and banquets?<br>


<p>Scheduling:</p>

<input type="checkbox"/> have you avoided scheduling sessions in the evenings, on weekends, near or over the holidays?<br>

<input type="checkbox"/> are all major events scheduled in childcare-friendly times (between 9 and 4)?<br>

<input type="checkbox"/> do you provide options for parents to adjust the time of their presentation to suit childcare needs?<br>


<h2 id="resources">Resources</h2>

<p>Breastfeeding/Bottle feeding:</p>

<input type="checkbox"/> have you consulted with someone who has recently lactated at a conference and/or a certified lactation consultant to advise on resources and policies? <br>

<input type="checkbox"/> do you provide a clean, comfortable, and private dedicated lactation room(s)? (Note: restrooms are not acceptable!)<br>

<input type="checkbox"/>  to anticipate need, have you allowed parents to indicate their nursing requirements on their registration form? <br>

<input type="checkbox"/> is a staff member or organizing committee member available to be contacted with questions prior to the event? <br>

<input type="checkbox"/> does your lactation room(s) have proper signage, a lockable door, keycode offered to only those requiring its use, and/or a system to reserve the room in advance?<br>

<input type="checkbox"/> do you provide a sink/running water, paper towels, and cleaning supplies in or adjacent to the lactation room so attendees can avoid cleaning equipment in an unsanitary restroom?<br>

<input type="checkbox"/> do you provide a closed-system hospital grade pump, and if so, have you alerted attendees of this in advance?<br>

<input type="checkbox"/> do you provide lockers or cubbies to store pumps/supplies in or near the lactation room(s)?<br>

<input type="checkbox"/> do you provide refrigeration/freezer facilities for storing breast milk?<br>

<input type="checkbox"/> does your antiharassment policy include explicit statements that breastfeeding parents are welcome, and that no one should ask them to leave or make them feel uncomfortable?<br>

<input type="checkbox"/> for babies fed formula, do you provide filtered water?<br>

<input type="checkbox"/> do you provide bottle warmers?<br>


<h2 id="establishmentofaparentcaregiversocialnetwork">Establishment of a parent/caregiver social network</h2>

<input type="checkbox"/> have you created and advertised a virtual place for parents to find support and share pertinent information before/during/after the conference? (e.g. Twitter, Facebook, Instagram, LinkedIn, Slack.)<br>


<h2 id="">Summary</h2>

<p>These guidelines may seem burdensome to conference organizers; however, they entail considerations that parents take into account every day while maintaining an active career.</p>

<p>Adoption of one, some, or all of these practices will send a strong and positive message that organizations recognize the issues parent-scientists face and that they are working to support an inclusive, family-friendly environment. Using C.A.R.E. guidelines also helps to normalize pregnancy, lactation, and the childcare needs of working parents, especially working mothers. </p>

<p>While we have targeted conference participation here, C.A.R.E. guidelines are applicable to workplace settings in general. Solving the childcare-conference conundrum is a collective task that benefits not only people who parent and do science, but the greater scientific community, by promoting diversity and inclusion, and thereby, creativity and innovation. It sends the clear message to future generations of researchers that science is a place for everyone, one that takes equity seriously, and one that recognizes the multifaceted roles and responsibilities scientists bring with them to conferences.</p>

<h1 id="originalsource">Original Source:</h1>

<p>Calisi, R.M., and a Working Group of Mothers in Science. 2018. How to tackle the Childcare-Conference Conundrum. <em>Proceedings of the National Academy of Sciences</em>. (https://doi.org/10.1073/pnas.1803153115)</p>

<h2 id="coverage">Press:</h2>

<p><a href="http://blogs.nature.com/naturejobs/2018/03/06/when-conferences-collide-with-family-needs/">When Conferences Collide with Family Needs</a> - Nature <br />
<a href="https://www.insidehighered.com/quicktakes/2018/03/14/tackling-childcare%E2%80%93conference-conundrum?utm_source=Inside+Higher+Ed&amp;utm_campaign=cb671196bd-DNU20180111&amp;utm_medium=email&amp;utm_term=0_1fcbc04421-cb671196bd-197815853&amp;mc_cid=cb671196bd&amp;mc_eid=03f0dcc136">Tackling the 'Childcare-Conference Conundrum'</a>- Inside Higher Ed <br />
<a href="https://moneyish.com/upgrade/how-45-working-mothers-in-science-are-trying-to-make-academic-conferences-parent-friendly/">How 45 Working Mothers in Science Are Trying to Make Academic Conferences More Friendly</a>- Dow Jones - Moneyish <br />
<a href="https://work.qz.com/1229667/to-keep-more-women-in-science-academic-conferences-should-change/">Finding Childcare for Work Travel is Hard, But Better Options are Within Our Reach</a>- Quartz <br />
<a href="https://www.ucdavis.edu/news/solving-conferencechild-care-career-conundrum?utm_source=datelinehtml&amp;utm_medium=datelinenewsletter&amp;utm_campaign=dateline_20180306">Solving the Conference/Child Care Career Conundrum</a>- University of California, Davis <br />
<a href="https://scopeblog.stanford.edu/2018/03/06/tackling-the-childcare-conference-conundrum/">Tackling the "Childcare-Conference Conundrum"</a> - Scope: Stanford Medicine <br />
<a href="http://news.unchealthcare.org/news/2018/march/unc-researcher-helps-find-solutions-for-childcare-conundrum-at-academic-conferences-1">UNC Researcher Helps Find Solutions for Childcare Conundrum at Academic Conferences</a>- UNC School of Medicine <br />
<a href="https://news.iu.edu/stories/2018/03/iub/09-childcare-conference-conundrum.html">How to Tackle the Childcare-Conference Conundrum</a>- Indiana University <br />
<a href="https://around.uoregon.edu/content/early-career-researchers-face-childcare-conference-conundrum">Early Career Researcher Face a Childcare Conference Conundrum- </a>Around the O, University of Oregon <br />
<a href="https://www.newswise.com/articles/asst.-prof.-malisch-offers-solutions-to-the-conference-childcare-conundrum-as-a-mother-in-science">Asst. Prof. Malisch Offers Solutions to the Conference-Childcare Conundrum- </a>St. Mary's College of Maryland <br />
<a href="https://news.uark.edu/articles/41211/biology-professor-coauthors-opinion-piece-on-the-baby-penalty-for-women-scientists">Biology Professor Co-Authors Opinion Piece on 'The Baby Penalty' for Women Scientists</a>- University of Arkansas <br />
<a href="https://news.ucsc.edu/2018/03/childcare-conundrum.html">Mothers in Science Offer Solutions to the Conference-Childcare Conundrum</a>- UC Santa Cruz <br />
<a href="https://www.eurekalert.org/pub_releases/2018-03/cu-frp031218.php">Female Researchers Publish Childcare Recommendations for Conference Organizers</a>- Chapman University</p>


<!--

<h2>Recent Blog posts</h2>
<ul class="post-list">
  {% for post in paginator.posts %}
  <li>
    <h2>
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </h2>
    <section class="post-excerpt" itemprop="description">
      <p>{{ post.content | strip_html | truncatewords: 50 }}</p>
    </section>
    <section class="post-meta">
      <div class="post-date">{{ post.date | date: "%B %-d, %Y" }}</div>
      <div class="post-categories">
      {% if post.categories.size > 0 %}in {% for cat in post.categories %}
        {% if site.jekyll-archives %}
        <a href="{{ site.baseurl }}/category/{{ cat }}">{{ cat | capitalize }}</a>{% if forloop.last == false %}, {% endif %}
        {% else %}
        <span>{{ cat | capitalize }}</span>{% if forloop.last == false %}, {% endif %}
        {% endif %}
      {% endfor %}{% endif %}
      </div>
    </section>
  </li>
  {% if forloop.last == false %}
  <hr>
  {% endif %}
  {% endfor %}
</ul>

<nav class="pagination" role="navigation">
  <p>
    {% if paginator.next_page %}
    <a class="newer-posts" href="{{ site.baseurl }}/page{{paginator.next_page}}">
      <span class="fa-stack fa-lg">
        <i class="fa fa-square fa-stack-2x"></i>
        <i class="fa fa-angle-double-left fa-stack-1x fa-inverse"></i>
      </span>
    </a>
    {% else %}
    <span class="fa-stack fa-lg">
      <i class="fa fa-square fa-stack-2x"></i>
      <i class="fa fa-angle-double-left fa-stack-1x fa-inverse"></i>
    </span>
    {% endif %}
    <span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.previous_page %}
      {% if paginator.page == 2 %}
      <a class="newer-posts" href="{% if site.baseurl %}{{ site.baseurl }}{% endif %}/">
        <span class="fa-stack fa-lg">
          <i class="fa fa-square fa-stack-2x"></i>
          <i class="fa fa-angle-double-right fa-stack-1x fa-inverse"></i>
        </span>
      </a>
      {% else %}
      <a class="newer-posts" href="{{ site.baseurl }}/page{{paginator.previous_page}}">
        <span class="fa-stack fa-lg">
          <i class="fa fa-square fa-stack-2x"></i>
          <i class="fa fa-angle-double-right fa-stack-1x fa-inverse"></i>
        </span>
      </a>
      {% endif %}
    {% else %}
    <span class="fa-stack fa-lg">
      <i class="fa fa-square fa-stack-2x"></i>
      <i class="fa fa-angle-double-right fa-stack-1x fa-inverse"></i>
    </span>
    {% endif %}
  </p>
  <p>
    <a href="{{ site.baseurl }}/posts">View All Posts by Category</a>
  </p>
</nav>

-->

</div>
</div>
